h4 Assignments
for assignment in assignments
  .col.s4.m3
    .card.small.green.darken-1
      .card-content.white-text
        span.card-title #{assignment.name}
        p #{assignment.description}
      .card-action.green
        a.btn(onClick="addAssignmentToSubmissions(#{assignment.course_id},#{assignment.id},'#{assignment.name}');") Add
