.card-panel.teal
  p.white-text Number of submissions received: #{submissions_count}
  .row
    .col.s6
      p.white-text Submitting assignments under MOSS ID #[b #{moss_id}]
      p.white-text For user #[b #{user_name}]
  .row
    .input-field.col.s6
      select#code_type
        each language in moss_languages
          option= language
      label.black-text Select code type:
  a.btn.waves-effect.waves-light.red#moss_submit_btn(onclick="submitToMoss( #{course_id} , #{assignment_id} );") Submit to Moss
  #moss_response
